<ion-popover-view class="popoverMenu">
	<ion-content>
		<a href="http://learn.ionicframework.com/" target="_blank">
			Learn Ionic
		</a>
		<br/>
		<a href="http://ionicframework.com/docs/" target="_blank">
			Documentation
		</a>
		<br/>
		<a href="http://showcase.ionicframework.com/" target="_blank">
			Showcase
		</a>
		<br/>
		<a href="http://ionicframework.com/submit-issue/" target="_blank">
			Submit an Issue
		</a>
		<br/>
		<a href="https://github.com/driftyco/ionic" target="_blank">
			Github Repo
		</a>
	</ion-content>
</ion-popover-view>